$primary-color: #161616;
$primary-text: white;
$font: "Poppins";
.box-main {
    background: $primary-color;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 5vh;
    main {
        width: 80%;
        margin: auto;
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn-search {
        width: 600px;
        margin: auto;
        margin-top: 51px;
    }
}