$primary-color: rgb(41, 41, 41);
$primary-text: white;
$font: "Poppins";
.list-literature {
    width: 80%;
    margin: auto;
    h1,
    p,
    h5 {
        color: $primary-text;
        font-family: $font;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        div {
            width: 300px;
        }
    }
}