$primary-color: rgb(41, 41, 41);
$primary-text: white;
$font: "Poppins";
.list-literature {
    width: 80%;
    margin: auto;
    h1 {
        margin-top: 10vh;
        margin-left: 5vh;
        color: $primary-text;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        width: 100%;
        li {
            align-self: flex-start;
            margin: 3vh 5vh;
            border-radius: 8px;
            overflow: hidden;
            transition: 0.1s;
            img {
                width: 30vh;
            }
            p,
            h5 {
                color: $primary-text;
                margin: 5px;
            }
        }
        li:hover {
            opacity: 0.6;
        }
    }
}