/* global input form control */

.modal-body {
    background: #161616;
    color: white;
    padding: 7vh 5vh;
}

.form-control {
    background: rgb(77, 77, 77);
    color: white;
    border: 2px solid rgba(228, 228, 228, 0.74);
}

.close {
    color: white !important;
    opacity: 0.8;
}

.form-control::placeholder {
    color: rgb(180, 179, 179);
}

.modalShow {
    margin-top: 20vh;
}

.modal-content {
    width: 350px;
    margin: auto;
    align-self: center;
}

form .inputan {
    font-family: "Poppins";
    width: 100%;
    margin: 10px 0;
    padding: 5px 10px;
    border: 2px solid #b4b4b4;
    border-radius: 5px;
    color: white;
    background: #525252;
}

.inputan::placeholder {
    color: rgb(172, 172, 172);
}

form .title-sign {
    font-weight: bold;
}

.box-login-landing .landingBtnLogin,
.login-btn {
    border: none;
    padding: 1.3vh 8vh;
    border-radius: 5px;
    font-weight: bold;
}

form .login-btn {
    background: #af2e1c;
    width: 100%;
    margin-top: 1.5vh;
    color: white;
}