.box-verify {
    width: 100%;
    height: 100vh;
    padding-bottom: 5vh;
}

.box-verify .verify {
    width: 80%;
    margin: auto;
}

.box-verify .verify h1 {
    font-weight: bold;
    font-size: 30px;
    margin-top: 7vh;
    margin-bottom: 3vh;
}

.box-verify th {
    text-align: center;
}