.box-splash {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-splash img {
    width: 20vh;
}