.list-book {
    min-height: 50vh;
    margin: 0;
    padding-bottom: 5vh;
    h1 {
        margin-top: 10vh;
        margin-bottom: 2vh !important;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        width: 100%;
        li {
            align-self: flex-start;
            margin: 3vh 5vh;
            border-radius: 8px;
            overflow: hidden;
            transition: 0.1s;
            width: 30vh;
            cursor: pointer;
            img {
                width: 100%;
                height: 40vh;
                background: rgb(224, 224, 224);
                border-radius: 5px;
            }
            p,
            h5 {
                color: white;
                margin: 5px;
            }
            h5 {
                font-weight: bold;
                max-height: 4.2vh;
                overflow: hidden;
            }
        }
        li:hover {
            opacity: 0.6;
        }
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.74);
            display: flex;
            justify-content: center;
            align-items: center;
            h3 {
                display: inline-block;
                color: rgb(51, 51, 51);
                text-align: center;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
    div:hover {
        opacity: 0.6;
        cursor: pointer;
    }
}