$primary-color: #161616;
$primary-text: white;
$font: "Poppins";
.box-search {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 5vh;
    background: $primary-color;
    main {
        width: 80%;
        margin: auto;
        margin-top: 5vh;
        color: $primary-text;
        .list-btn-search {
            width: 600px;
            margin-bottom: 5vh;
        }
    }
}