$primary-color: #161616;
$primary-text: white;
$font: "Poppins";
.box-search {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 5vh;
    background: $primary-color;
    main {
        width: 80%;
        margin: auto;
        margin-top: 5vh;
        color: $primary-text;
        display: flex;
        .list-btn-search {
            width: 600px;
            .iniFlex {
                display: flex;
                margin-top: 5vh;
            }
        }
        .box-list-search {
            ul {
                list-style: none;
                display: flex;
                li {
                    margin-right: 8vh;
                }
            }
        }
    }
}